@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');


.distill-site-nav {
  font-family: 'Fira Mono', sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.distill-site-header {
  font-family: 'Fira Mono', sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
}

html, body, p {

  font-family: 'Montserrat';
  font-weight: 100;
  line-height: 1.3;
  font-size: 1.0em;
  color: #333333;
  font-style: normal;

}


d-code {
  background: #e5e5e5;
}




h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}


.distill-site-nav a {

  font-family: 'Fira Mono', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #000;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: #ff6700;
}

.nav-dropdown-content a {
  font-family: 'Fira Mono', sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.distill-site-header {
  font-family: 'Fira Mono', sans-serif;
  font-weight: 500;
  background-color: #ffffff;
}

.distill-site-footer {
  background-color: #000;
  color: #ffffff;
}


@media print {
  .distill-site-nav {
    display: none;
  }
}
